.dcicon {
  display: inline-block;
  background: url(https://static.wozaizhao.com/app/icons.png) 0 0 no-repeat;
  width: 42px;
  height: 42px;
  vertical-align: top;
  background-size: 100%;
}

.dcicon-order {
  background-position: 0 -1152px;
}

.dcicon-food {
  background-position: 0 -1104px;
}

.dcicon-bag {
  background-position: 0 -1056px;
}

.dcicon-delivery {
  background-position: 0 -1008px;
}

.dcicon-home {
  background-position: 0 -960px;
}

.dcicon-location {
  background-position: 0 -912px;
}

.dcicon-add {
  background-position: 0 -864px;
}

.dcicon-subtract {
  background-position: 0 -816px;
}

.dcicon-help {
  background-position: 0 -768px;
}

.dcicon-down {
  background-position: 0 -720px;
}

.dcicon-up {
  background-position: 0 -672px;
}

.dcicon-close {
  background-position: 0 -624px;
}

.dcicon-search {
  background-position: 0 -576px;
}

.dcicon-phone {
  background-position: 0 -528px;
}

.dcicon-menu {
  background-position: 0 -480px;
}

.dcicon-password {
  background-position: 0 -432px;
}

.dcicon-user {
  background-position: 0 -384px;
}

.dcicon-calendar {
  background-position: 0 -336px;
}

.dcicon-orders {
  background-position: 0 -288px;
}

.dcicon-cart {
  background-position: 0 -240px;
}

.dcicon-top {
  background-position: 0 -192px;
}

.dcicon-share {
  background-position: 0 -144px;
}

.dcicon-prev {
  background-position: 0 -96px;
}

.dcicon-next {
  background-position: 0 -48px;
}

.dcicon-card {
  background-position: 0 0;
}

